@charset "UTF-8";/* Google Translate 상단 바 숨기기 */
.skiptranslate {display: none !important; } 
body {top: 0px !important; } 
/*reset css*/
* { font-family: "Pretendard", MalgunGothic, "맑은 고딕", "돋움", Dotum,
 AppleGothic, Sans-serif, Arial; word-break: keep-all; } 

html,body,div,p,span,strong,b,em,iframe,pre,h1,h2,h3,h4,h5,h6,img,dl,dt,dd,fieldset,form,legend,label,table,caption,thead,tbody,tfoot,tr,th,td,ul,ol,li,a,input,select,textarea,figure { margin: 0; padding: 0; border: 0 none; } 

input { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; } 

body { font-family: "Pretendard", MalgunGothic, "맑은 고딕", "돋움", Dotum,
 AppleGothic, Sans-serif, Arial; font-size: 18px; font-weight: 300; line-height: 1.7; color: #000; background: #fff; position: relative; overflow: hidden; align-items: center; letter-spacing: -0.2px; } 

strong { font-weight: 500; } 

ul,
ol,
li { list-style: none; } 
em,
address { font-style: normal; } 
img { border: 0 none; font-size: 0; line-height: 0; } 
sup { position: relative; top: 2px; font-size: 8px; line-height: 100%; } 

/*테이블 만들 때 캡션 잊어버리지 말기..*/
table { border-collapse: collapse; border-spacing: 0; } 
caption { overflow: hidden; width: 0; height: 0; font-size: 0; line-height: 0; } 
th,
td { vertical-align: middle; /* white-space: nowrap */}

a { color: #333; text-decoration: none; line-height: 1; } 
a:hover,
a:focus,
a:active { text-decoration: underline; } 
a:visited { color: #333; } 
*,
html { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; } 
*,
*:before,
*:after { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; } 

button { border: none; appearance: none; -webkit-appearance: none; -moz-appearance: none; font-family: "Pretendard", MalgunGothic, "맑은 고딕", "돋움", Dotum,
 AppleGothic, Sans-serif, Arial; cursor: pointer; margin: 0; } 

select { -o-appearance: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; } 

/*float시 clearfix*/
.clearfix:after { clear: both; } 

/*img width 100*/
.img_w_100 img { width: 100%; } 

.tsc { text-align: center; } 

/*display*/
.dpnone { display: none; } 
.dpflex { display: flex; } 
.dpinb { display: inline-block; } 
.dpinline { display: inline; } 
.dpblock { display: block; } 
/* 모달 스타일 */
.modal { /* 기본적으로 숨겨진 상태 */
 position: fixed; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(0, 0, 0, 0.5); /* 배경에 어둡게 */}

/* 모달 내용 */
.modal-content { background-color: #fefefe; margin: 25% auto; padding: 0 15px 26px; border: 2px solid #888; width: 80%; max-width: 382px; border-radius: 20px; } 
#result { text-align: center; font-size: 1.5rem; font-weight: bold; } 
/* 닫기 버튼 */
.close { color: #aaa; font-size: 1.5rem; font-weight: bold; text-align: right; display: block; } 

#modal-message { text-align: center; } 

.close:hover,
.close:focus { color: black; text-decoration: none; cursor: pointer; } 
.hide { display: none; } 