:root { 
    --shadow: #C9C9C9; 
    --sub: #FFE24D; 
    --subshadow: #DFBD0E; 
    --bg: #2A82C2; 
    --bg2: #56A01B; 
    --bg3: #1FA39B; 
    --bg4: #C25C7A; 
    --bg5: #7264AD; 
    --iconBtn1: #E0F3FB; 
    --iconBtn2: #E6FAD5; 
    --iconBtn3: #E7F5F4; 
    --iconBtn4: #FFF0F4; 
    --iconBtn5: #EEE9FF; 
    --check_bg1: #5dcfff; 
    --check_bg2: #c3ff8f; 
    --check_bg3: #68e8df; 
    --check_bg4: #ff86a6; 
    --check_bg5: #b099ff; 
} 

#finish_next { background: url('../img/finish1_plan_bg.jpg') no-repeat center center; background-size: 100% 100%; } 
.container { position: relative; width: 1280px; height: 800px; margin: 0 auto; display: flex; flex-direction: column; align-items: center; padding: 116px 165px; } 

.intro h1 { font-size: 3rem; } 
#finish_next h1 { font-size: 3rem; } 

.box_wrap:active .image-box { background-color: var(--shadow); transform: translate(0, 10px); box-shadow: none; } 
#finish2 .box_wrap:active .image-box { background-color: var(--bg2); } 

.submit-button { margin-top: 92px; padding: 13px 73px; border-radius: 50px; font-size: 1.8rem; font-weight: bold; background: var(--sub); box-shadow: 0px 8px var(--subshadow); } 
.submit-button:active { box-shadow: none; transform: translate(0, 10px); background: var(--subshadow); } 


/* 학습목표 */
#finish1 { background: url('../img/obj_bg1.jpg') no-repeat center center; background-size: 100% 100%; } 
#finish2 { background: url('../img/obj_bg2.jpg') no-repeat center center; background-size: 100% 100%; } 
#finish3 { background: url('../img/obj_bg3.jpg') no-repeat center center; background-size: 100% 100%; } 
#finish4 { background: url('../img/obj_bg4.jpg') no-repeat center center; background-size: 100% 100%; } 
#finish5 { background: url('../img/obj_bg5.jpg') no-repeat center center; background-size: 100% 100%; } 
header { display: flex; align-items: center; justify-content: space-between; margin-top: 32px; } 

header .title { width: 744px; } 

.box2 { width: 100%; } 

.box_wrap { display: flex; align-items: center; justify-content: space-between; gap: 10px; padding-top: 12px; } 

.box_container { width: 1120px; height: 715px; box-shadow: 0px 2px 29px 3px var(--shadow); background-color: #fff; border-radius: 30px; padding: 30px 44px; } 

.finish { padding: 42px 72px; } 

#finish1 h1 { color: var(--bg); letter-spacing: -1px; background-color: var(--iconBtn1); } 

#finish2 h1 { color: var(--bg2); background-color: var(--iconBtn2); letter-spacing: -1px; } 
#finish3 h1 { color: var(--bg3); background-color: var(--iconBtn3); letter-spacing: -1px; } 
#finish4 h1 { color: var(--bg4); background-color: var(--iconBtn4); letter-spacing: -1px; } 
#finish5 h1 { color: var(--bg5); background-color: var(--iconBtn5); letter-spacing: -1px; } 
.finish h1 { font-size: 2.3rem; margin-top: -35px; border-radius: 19px 0 0 19px; padding: 24px; } 

.finish .title span { background: url('../img/obj_tit1.png') no-repeat; display: inline-block; width: 196px; height: 71px; padding-top: 15px; font-size: 1.5rem; font-weight: 500; color: #fff; padding-left: 56px; background-size: contain; } 
#finish2 .title span { background: url('../img/obj_tit2.png') no-repeat; background-size: contain; } 
#finish3 .title span { background: url('../img/obj_tit3.png') no-repeat; background-size: contain; } 
#finish4 .title span { background: url('../img/obj_tit4.png') no-repeat; background-size: contain; } 
#finish5 .title span { background: url('../img/obj_tit5.png') no-repeat; background-size: contain; } 
.finish .tit_choice { width: 288px; border: 1px solid var(--bg); border-radius: 20px; text-align: center; padding: 5px; margin-top: -38px; } 

#finish2 .tit_choice { border: 1px solid var(--bg2); } 
#finish3 .tit_choice { border: 1px solid var(--bg3); } 
#finish4 .tit_choice { border: 1px solid var(--bg4); } 
#finish5 .tit_choice { border: 1px solid var(--bg5); } 
#finish2 .tit_choice p { color: var(--bg2); } 
#finish3 .tit_choice p { color: var(--bg3); } 
#finish4 .tit_choice p { color: var(--bg4); } 
#finish5 .tit_choice p { color: var(--bg5); } 
.finish .tit_choice p { color: var(--bg); font-weight: bold; } 

.finish .tit_choice span { display: block; font-size: 0.8rem; } 

.tit_icon { display: flex; align-items: center; justify-content: center; gap: 21px; padding-top: 8px; } 

.icon { width: 59px; height: 59px; color: gray; font-weight: 500; font-size: 1rem; border-radius: 50%; background-color: var(--check_bg1); } 
.check_bg2 { background-color: var(--check_bg2); }
.check_bg3 { background-color: var(--check_bg3); }
.check_bg4 { background-color: var(--check_bg4); }
.check_bg5 { background-color: var(--check_bg5); }
.icon_txt { color: gray; font-weight: 500; font-size: 1rem; } 

.tit_choice img { vertical-align: bottom; } 

.finish .form_box { padding-top: 0; } 

.desc_text { position: relative; width: 735px; height: 138px; background: url('../img/sub_tit1.png') no-repeat; background-size: 100% 100%; align-content: center; padding-top: 7px; } 
#finish2 .desc_text { background: url('../img/sub_tit2.png') no-repeat; background-size: 100% 100%; } 
#finish3 .desc_text { background: url('../img/sub_tit3.png') no-repeat; background-size: 100% 100%; } 
#finish4 .desc_text { background: url('../img/sub_tit4.png') no-repeat; background-size: 100% 100%; } 
#finish4 .desc_text { background: url('../img/sub_tit4.png') no-repeat; background-size: 100% 100%; } 
#finish5 .desc_text { background: url('../img/sub_tit5.png') no-repeat; background-size: 100% 100%; } 
.desc_text span { position: absolute; top: 23px; font-size: 1rem; font-weight: 500; color: #fff; left: 64px; display: block; } 
.text1, .text3 { justify-content: space-evenly; display: flex; flex-direction: column; } 
.box2 .text3 span { margin-top: 0; } 
.box3 .text1 span { margin-top: -3px; } 
.box3 .desc_text h3 { text-align: left; font-size: 1.3rem; } 
.desc_text h3 { display: flex; justify-content: left; line-height: 1.5rem; padding-top: 34px; padding-left: 24px; letter-spacing: -1px; } 
.radio-group { width: 288px; max-height: 101px; display: flex; justify-content: space-between; gap: 10px; border: 1px solid var(--bg); border-radius: 20px; padding: 14px; margin-top: 37px; } 

#finish2 .radio-group { border: 1px solid var(--bg2); } 
#finish3 .radio-group { border: 1px solid var(--bg3); } 
#finish4 .radio-group { border: 1px solid var(--bg4); } 
#finish5 .radio-group { border: 1px solid var(--bg5); } 
.radio-label { position: relative; display: inline-block; cursor: pointer; height: 72px; } 

.radio-label img { width: 72px; height: auto; border: 2px solid transparent; border-radius: 50%; transition: background-color 0.3s; background-color: var(--shadow); } 

input[type="radio"] { position: absolute; opacity: 0; /* 기본 라디오 버튼 숨기기 */
 width: 0; height: 0; } 

input[type="radio"]:checked+img { background-color: var(--check_bg1); } 

#finish2 input[type="radio"]:checked+img { background-color: var(--check_bg2); } 
#finish3 input[type="radio"]:checked+img { background-color: var(--check_bg3); } 
#finish4 input[type="radio"]:checked+img { background-color: var(--check_bg4); } 
#finish5 input[type="radio"]:checked+img { background-color: var(--check_bg5); } 
.finish input[type="radio"]:active+img { transform: scale(0.92); } 

.finish .submit-button { padding: 9px 43px; font-size: 1.5rem; margin: 28px auto; } 

.box3 .submit-button { margin: 19px auto; } 

.btn_box { width: 100%; display: flex; justify-content: center; align-items: center;  }
