@charset "UTF-8"; /*reset css*/
* { font-family: Pretendard, "Pretendard", MalgunGothic, "맑은 고딕", "돋움", Dotum,
 AppleGothic, Sans-serif, Arial; word-break: keep-all; } 

html,body,div,p,span,strong,b,em,iframe,pre,h1,h2,h3,h4,h5,h6,img,dl,dt,dd,
fieldset,form,legend,label,table,caption,thead,tbody,tfoot,tr,th,td,
ul,ol,li,a,input,select,textarea,figure { margin: 0; padding: 0; border: 0 none; } 

input { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; } 

body { font-family: Pretendard, "Pretendard", MalgunGothic, "맑은 고딕", "돋움", Dotum,
 AppleGothic, Sans-serif, Arial; font-size: 18px; font-weight: light; line-height: 33px; color: #212529; position: relative; overflow: hidden; align-items: center; } 

strong { font-weight: 500; } 

ul,ol,li { list-style: none; } 
em,address { font-style: normal; } 
img { border: 0 none; font-size: 0; line-height: 0; } 
sup { position: relative; top: 2px; font-size: 8px; line-height: 100%; } 

/*테이블 만들 때 캡션 잊어버리지 말기..*/
table { border-collapse: collapse; border-spacing: 0; } 
caption { overflow: hidden; width: 0; height: 0; font-size: 0; line-height: 0; } 
th,td { vertical-align: middle; /* white-space: nowrap */ } 

a { color: #333; text-decoration: none; line-height: 1; } 
a:hover,a:focus,a:active { text-decoration: underline; } 
a:visited { color: #333; } 
*,
html { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; } 
*,
*:before,
*:after { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; } 

button { border: none; appearance: none; -webkit-appearance: none; -moz-appearance: none; font-family: "Pretendard", MalgunGothic, "맑은 고딕", "돋움", Dotum,
 AppleGothic, Sans-serif, Arial; cursor: pointer; margin: 0; } 

select { -o-appearance: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; } 


/* Layout */
.wrap { width: 1280px; height: 800px; margin: 0 auto; position: relative; z-index: 1;}
.wrap_gif { width:100%; height: 100%; position: absolute; z-index: 2; }
.wrap_line { width:100%; height: 100%; position: absolute; z-index: 3; }
.wrap_char { width:100%; height: 100%; position: absolute; z-index: 4; }

/******** 배경 gif (상단, 로켓) ********/
.gif1_1 { background: url('../img/gif_top_1.gif') no-repeat; background-size: 47% auto; background-position: -2% -5%;}
.gif1_2 { background: url('../img/gif_rocket_1.gif') no-repeat; background-size: 50% auto; background-position: 127% 185%; }

.gif2_1 { background: url('../img/gif_top_2.gif') no-repeat; background-size: 47% auto; background-position: -2% -5%;}
.gif2_2 { background: url('../img/gif_rocket_2.gif') no-repeat; background-size: 50% auto; background-position: 127% 185%; }

.gif3_1 { background: url('../img/gif_top_3.gif') no-repeat; background-size: 47% auto; background-position: -2% -5%;}
.gif3_2 { background: url('../img/gif_rocket_3.gif') no-repeat; background-size: 50% auto; background-position: 127% 185%; }

.gif4_1 { background: url('../img/gif_top_4.gif') no-repeat; background-size: 47% auto; background-position: -2% -5%;}
.gif4_2 { background: url('../img/gif_rocket_4.gif') no-repeat; background-size: 50% auto; background-position: 127% 185%; }

.gif5_1 { background: url('../img/gif_top_5.gif') no-repeat; background-size: 47% auto; background-position: -2% -5%;}
.gif5_2 { background: url('../img/gif_rocket_5.gif') no-repeat; background-size: 49% auto; background-position: 127% 185%; }


/******** 단원별 배경 ********/
.bg1 { background: url('../img/map_bg1.png') no-repeat 0 0; background-size: 100% 100%;} 
.bg1_0 { background: url('../img/map_bg1_0.png') no-repeat 0 0; background-size: 100% 100%;}
.bg1_1 { background: url('../img/map_bg1_1.png') no-repeat 0 0; background-size: 100% 100%;}
.bg1_2 { background: url('../img/map_bg1_2.png') no-repeat 0 0; background-size: 100% 100%;}
.bg1_3 { background: url('../img/map_bg1_3.png') no-repeat 0 0; background-size: 100% 100%;}
.bg1_4 { background: url('../img/map_bg1_4.png') no-repeat 0 0; background-size: 100% 100%;}
.bg1_5 { background: url('../img/map_bg1_5.png') no-repeat 0 0; background-size: 100% 100%;}

.bg2 { background: url('../img/map_bg2.png') no-repeat 0 0; background-size: 100% 100%;} 
.bg2_0 { background: url('../img/map_bg2_0.png') no-repeat 0 0; background-size: 100% 100%;}
.bg2_1 { background: url('../img/map_bg2_1.png') no-repeat 0 0; background-size: 100% 100%;}
.bg2_2 { background: url('../img/map_bg2_2.png') no-repeat 0 0; background-size: 100% 100%;}
.bg2_3 { background: url('../img/map_bg2_3.png') no-repeat 0 0; background-size: 100% 100%;}
.bg2_4 { background: url('../img/map_bg2_4.png') no-repeat 0 0; background-size: 100% 100%;}

.bg3 { background: url('../img/map_bg3.png') no-repeat 0 0; background-size: 100% 100%;} 
.bg3_0 { background: url('../img/map_bg3_0.png') no-repeat 0 0; background-size: 100% 100%;}
.bg3_1 { background: url('../img/map_bg3_1.png') no-repeat 0 0; background-size: 100% 100%;}
.bg3_2 { background: url('../img/map_bg3_2.png') no-repeat 0 0; background-size: 100% 100%;}

.bg4 { background: url('../img/map_bg4.png') no-repeat 0 0; background-size: 100% 100%;} 
.bg4_0 { background: url('../img/map_bg4_0.png') no-repeat 0 0; background-size: 100% 100%;}
.bg4_1 { background: url('../img/map_bg4_1.png') no-repeat 0 0; background-size: 100% 100%;}
.bg4_2 { background: url('../img/map_bg4_2.png') no-repeat 0 0; background-size: 100% 100%;}
.bg4_3 { background: url('../img/map_bg4_3.png') no-repeat 0 0; background-size: 100% 100%;}
.bg4_4 { background: url('../img/map_bg4_4.png') no-repeat 0 0; background-size: 100% 100%;}

.bg5 { background: url('../img/map_bg5.png') no-repeat 0 0; background-size: 100% 100%;} 
.bg5_0 { background: url('../img/map_bg5_0.png') no-repeat 0 0; background-size: 100% 100%;}
.bg5_1 { background: url('../img/map_bg5_1.png') no-repeat 0 0; background-size: 100% 100%;}
.bg5_2 { background: url('../img/map_bg5_2.png') no-repeat 0 0; background-size: 100% 100%;}


/******** 캐릭터 *********/
.character1 { background: url('../img/char_side.gif') no-repeat; background-size: 10% auto; } 
.character2 { background: url('../img/char_back.gif') no-repeat; background-size: 10% auto; } 
.character3 { background: url('../img/char_jump.gif') no-repeat; background-size: 8% auto; } 
.character4 { background: url('../img/char_jump2.gif') no-repeat; background-size: 8% auto; } /*3단원만 컬러조정*/
/* 차시별 캐릭터 좌표 */
.move1 { background-position: 1% 80%; } 
.move1_1 { background-position: 12% 80.5%; }
.move1_2 { background-position: 38% 61%; }
.move1_3 { background-position: 40% 24%; }
.move1_4 { background-position: 66% 1%; }
.move1_5 { background-position: 88% 1%; }

.move2 { background-position: 1% 2%; } 
.move2_1 { background-position: 12.5% 2%; }
.move2_2 { background-position: 38% 4%; }
.move2_3 { background-position: 47.5% 52%; }
.move2_4 { background-position: 88% 79%; }

.move3 { background-position: 2% 75%; } 
.move3_1 { background-position: 31% 76%; }
.move3_2 { background-position: 68% 11%; }

.move4 { background-position: 1% 10%; } 
.move4_1 { background-position: 12% 8%; }
.move4_2 { background-position: 37% 11%; }
.move4_3 { background-position: 50% 42%; }
.move4_4 { background-position: 83% 76%; }

.move5 { background-position: 2% 75%; } 
.move5_1 { background-position: 31% 76%; }
.move5_2 { background-position: 70% 11%; }



/* 단원별 타이틀 */
h1 { display: flex; justify-content: flex-start; align-items: center; padding: 50px 60px; font-size: 58px; line-height: 60px; font-weight: bold; z-index: 3;}
.count img { width: 100px; height: auto; padding-right: 10px; }
.count5 img { width: 135px; height: auto; padding-right: 10px; }

h1.unit2 { display: flex; justify-content: flex-start; align-items: center; padding-top: 610px; padding-left: 60px; font-size: 58px; line-height: 60px; font-weight: bold; z-index: 3;}
.count2 img { width: 135px; height: auto; padding-right: 10px; }



/********* 차시별 텍스트박스 위치 *********/
.box1_1 { position: absolute; left: 15%; top: 64.5%; z-index: 3; opacity: 0.6; }
.box1_2 { position: absolute; left: 45.8%; top: 64.6%; z-index: 3; opacity: 0.6; }
.box1_3 { position: absolute; left: 22.6%; top: 35.5%; z-index: 3; opacity: 0.6; }
.box1_4 { position: absolute; left: 53.2%; top: 27.2%; z-index: 3; opacity: 0.6;  }
.box1_5 { position: absolute; left: 75.3%; top: 27.2%; z-index: 3; opacity: 0.6;}

.box2_1 { position: absolute; left: 18%; top: 26.5%; z-index: 5; opacity: 0.6; }
.box2_2 { position: absolute; left: 51%; top: 19%; z-index: 5; opacity: 0.6; }
.box2_3 { position: absolute; left: 32.5%; top: 58.8%; z-index: 5; opacity: 0.6; }
.box2_4 { position: absolute; left: 60%; top: 59.5%; z-index: 5; opacity: 0.6;  }

.box3_1 { position: absolute; left: 20%; top: 60%; z-index: 5; opacity: 0.6; }
.box3_2 { position: absolute; left: 64.5%; top: 33.3%; z-index: 5; opacity: 0.6; }

.box4_1 { position: absolute; left: 13.5%; top: 33.5%; z-index: 5; opacity: 0.6; }
.box4_2 { position: absolute; left: 48%; top: 16.2%; z-index: 5; opacity: 0.6; }
.box4_3 { position: absolute; left: 31.2%; top: 59.4%; z-index: 5; opacity: 0.6; }
.box4_4 { position: absolute; left: 66.5%; top: 57.1%; z-index: 5; opacity: 0.6;  }

.box5_1 { position: absolute; left: 19.8%; top: 56.5%; z-index: 3; opacity: 0.6; }
.box5_2 { position: absolute; left: 67%; top: 32.2%; z-index: 3; opacity: 0.6; }



.current { opacity: 1;}
.box_title { font-size: 16px; color: #fff; font-weight: bold; line-height: 35px; z-index: 3; font-family: Pretendard,"Pretendard",sans-serif;}
h2 { font-size: 20px; text-align: center; line-height: 24px; padding-top: 12px; font-family: Pretendard,"Pretendard",sans-serif;}





/********* 차시별 상세 위치 *********/
.view1_1 { position: absolute; left: 14.2%; top: 47.8%; z-index: 3; }
.view1_2 { position: absolute; left: 47.7%; top: 58.8%; z-index: 3; }
.view1_3 { position: absolute; left: 20%; top: 36%; z-index: 3; }
.view1_4 { position: absolute; left: 55%; top: 29%; z-index: 3; }
.view1_5 { position: absolute; left: 75.7%; top: 29%; z-index: 3; }

.view2_1 { position: absolute; left: 13.3%; top: 27.8%; z-index: 3; }
.view2_2 { position: absolute; left: 52%; top: 15.5%; z-index: 3; }
.view2_3 { position: absolute; left: 29%; top: 55.2%; z-index: 3; }
.view2_4 { position: absolute; left: 59%; top: 39.5%; z-index: 3; }

.view3_1 { position: absolute; left: 19.5%; top: 40%; z-index: 3; }
.view3_2 { position: absolute; left: 63.8%; top: 36%; z-index: 3; }

.view4_1 { position: absolute; left: 13.5%; top: 33.5%; z-index: 3; }
.view4_2 { position: absolute; left: 53.5%; top: 16.3%; z-index: 3; }
.view4_3 { position: absolute; left: 28.5%; top: 49.5%; z-index: 3; }
.view4_4 { position: absolute; left: 65.2%; top: 37.5%; z-index: 3; }

.view5_1 { position: absolute; left: 19%; top: 39.5%; z-index: 3; }
.view5_2 { position: absolute; left: 67.2%; top: 34.7%; z-index: 3; }




.view_title { font-size: 22px; color: #fff; font-weight: bold; text-align: center; line-height: 35px; z-index: 3; }
/* 상세 포인터컬러 */
.list_top_1 { font-size: 22px; color: #0864a3; padding: 23px 0 13px; line-height: 28px;}
.list_top_2 { font-size: 22px; color: #4b9900; padding: 23px 0 13px; line-height: 28px;}
.list_top_3 { font-size: 22px; color: #028480; padding: 23px 0 13px; line-height: 28px;}
.list_top_4 { font-size: 22px; color: #914060; padding: 23px 0 13px; line-height: 28px;}
.list_top_5 { font-size: 22px; color: #4c439e; padding: 23px 0 13px; line-height: 28px;}


.list_txt { list-style-position: inside; padding-left: 10px; font-size: 18px; line-height: 26px; font-weight: bold;}
.list_txt li::before { content: "·"; position: absolute; left: 0; } 
.list_txt li.pst_8::before { left: 8px; }
.list_txt li.pst_10::before { left: 10px; }
.list_txt li.pst_15::before { left: 15px; }
.list_txt li.pst_18::before { left: 18px; }
.list_txt li.pst_28::before { left: 28px; }
.list_txt li.pst_30::before { left: 30px; }
.list_txt li.pst_38::before { left: 38px; }
.list_txt li.pst_56::before { left: 56px; }


.pd_l3 { padding-left: 3px; }
.pd_l5 { padding-left: 5px; }
.pd_l6 { padding-left: 6px; }
.pd_l8 { padding-left: 8px; }
.pd_l10 { padding-left: 10px; }
.pd_l12 { padding-left: 12px; }
.pd_l14 { padding-left: 14px; }
.pd_l16 { padding-left: 16px; }
.pd_l37 { padding-left: 37px; }
.pd_l40 { padding-left: 40px; }

.pd_t53 { padding-top: 53px; }

.mg_r7 { margin-right: 7px; }
.mg_r10 { margin-right: 10px; }

.mg_l8 { margin-left: 8px; }
.mg_l10 { margin-left: 10px; }
.mg_l15 { margin-left: 15px; }
.mg_l18 { margin-left: 18px; }
.mg_l28 { margin-left: 28px; }
.mg_l30 { margin-left: 30px; }
.mg_l38 { margin-left: 38px; }
.mg_l56 { margin-left: 56px; }